* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins";
  box-sizing: border-box;
  text-transform: capitalize;
  background-color: #f7ffe5;
  color: #a0c49d;
  outline: none;
}

header {
  margin: auto;
  width: 100%;
  max-width: 700px;
}
main {
  margin: auto;
  width: 100%;
  max-width: 700px;
  margin-top: 1.5em;
}
.judul {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
}
.bg-1 {
  background-color: #a0c49d;
}
.logo i {
  padding: 10px;
  border-radius: 50px;
  color: #f7ffe5;
  background-color: #c4d7b2;
}
.judul h1 {
  color: #f7ffe5;
}
.judul h1 span {
  color: #e6fece;
  font-size: 0.5em;
}

.list {
  margin: 15px;
  font-weight: 600;
}

.btn {
  width: 120px;
  margin-bottom: 8px;
  font-size: 1em;
  transition: all 0.5s ease;
  cursor: pointer;
}

.btn:hover {
  text-align: center;
  padding: 6px;
  background-color: #a0c49d;
  color: hsl(78, 100%, 95%);
  border-radius: 10px;
}

.btn:active {
  transform: scale(0.8);
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-2 {
  background-color: #c4d7b2;
  color: #f7ffe5;
}

.kotak {
  margin: auto;
  width: 120px;
  height: 120px;
  border: solid 2px;
}
.rumus {
  text-align: center;
}

.input {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.form {
  border: none;
  padding: 3px;
  text-align: center;
  border-bottom: solid 3px;
  font-weight: 600;
}

.button {
  margin: 15px;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: right;
}
.b {
  padding: 10px;
  border-radius: 7px;
  border: none;
  background-color: #a0c49d;
  font-weight: 500;
  color: #f7ffe5;
  width: 100%;
  max-width: 60px;
  text-align: center;
  height: 40px;
  transition: all 0.5 ease;
}
.b:active {
  transform: scale(0.8);
}

.hapus {
  background-color: red;
}

.luas {
  display: none;
}

.keliling {
  display: none;
}

.active {
  text-align: center;
  padding: 6px;
  background-color: #a0c49d;
  color: hsl(78, 100%, 95%);
  border-radius: 10px;
}
.keterangan {
  margin: 3px 8px;
}
.hasil {
  margin: auto;
  padding: 3px;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  display: none;
}
.baris {
  text-align: center;
  border: none;
  cursor: pointer;
}
.eror {
  width: 300px;
  color: red;
  font-weight: 600;
}
.green {
  width: 300px;
  color: #a0c49d;
  font-weight: 600;
  font-size: 1em;
}

.copy-right {
  background-color: #a0c49d;
  font-size: 0.3em;
  font-style: italic;
}
.copy-right p {
  text-align: center;
  color: #f7ffe5;
  background-color: #a0c49d;
}
.copy-right p span {
  font-size: 1.5em;
  background-color: #a0c49d;
}

.icon {
  position: absolute;
  right: 9px;
  bottom: 0px;
  background-color: #a0c49d;
}
.icon i {
  font-size: 2em;
  background-color: #a0c49d;
  color: #f7ffe5;
  transition: all 0.5s ease;
}
.info {
  margin-left: 17px;
  margin-top: 15px;
  display: none;
}
.muncul {
  display: block;
}
footer{
  top: 150vh;
  width: 100%;
  position: absolute;
  bottom: 0;
}